<% if !@field_class.blank? %>
  <h3><%=t '.title', :default => @field_class.model_name.human.pluralize.titleize %></h3>
<% end %>

<div class="table-responsive-sm">
    <table class="table table-striped">
    <thead>
        <tr>
            <% if @ref.blank? %>
                <th><%= sort_link(@q, :nome, @model_class.human_attribute_name(:nome)) %></th>
                <th><%= sort_link(@q, :atividade, @model_class.human_attribute_name(:atividade)) %></th>
                <th><%= sort_link(@q, :endereco, @model_class.human_attribute_name(:endereco)) %></th>
                <th><%=t '.actions', :default => t("helpers.actions") %></th>
            <% else %>
                <th><%= @model_class.human_attribute_name(:nome) %></th>
                <th><%= @model_class.human_attribute_name(:atividade) %></th>
                <th><%= @model_class.human_attribute_name(:endereco) %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @list.each do |local| %>
            <tr>
                <td><%= link_to local.nome, show_path(local) %></td>
                <td><%= local.atividade %></td>
                <td><%= link_to local.endereco, show_path(local.endereco) %></td>
                <% if @ref.blank? %>
                    <td>
                        <%= edit_button_sm(local) %>
                        <%= delete_button_sm(local) %>
                    </td>
                <% end %>
            </tr>
        <% end %>
        <% if @list.blank? %> 
            <tr>
                <td><center>Nenhum(a) <%= @field_class %> encontrado(a).</center></td>
            </tr>
      <% end %>
    </tbody>
    </table>
</div>