<%- model_class = Local -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Locais" %></h1>
</div>

<%= search_form_for(@q, :class => "form-horizontal local") do |f| %>
  <div class="form-group">
    <%= f.label(:endereco_logradouro_bairro_nome_cont, "Bairro", :class => 'control-label col-lg-2') %>
    <div class="col-lg-6">  
      <%= f.search_field(:endereco_logradouro_bairro_nome_cont, placeholder: 'Bairro contém...', :class => 'form-control') %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(:endereco_logradouro_cep_or_endereco_logradouro_nome_cont, "Logradouro", :class => 'control-label col-lg-2') %>
    <div class="col-lg-6">  
      <%= f.search_field(:endereco_logradouro_cep_or_endereco_logradouro_nome_cont, placeholder: 'CEP ou Logradouro contém...', :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:endereco_numero_eq, "Número", :class => 'control-label col-lg-2') %>
      <div class="col-lg-4">  
        <%= f.search_field(:endereco_numero_eq, placeholder: 'Número é...', :class => 'form-control') %>  
      </div>  
  </div>

  <div class="form-group">
    <%= f.label(:endereco_complemento_cont, "Complemento", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:endereco_complemento_cont, placeholder: 'Complemento contém...', :class => 'form-control') %>     
      </div>  
  </div>

  <div class="form-group">
    <%= f.label(:atividade_cont, "Atividade", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:atividade_cont, placeholder: 'Atividade contém...', :class => 'form-control') %>   
      
      <br/>

      <%= f.submit(:class => 'btn btn-default') %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                new_local_path,
                :class => 'btn btn-primary' %>
    </div>  
  </div>
<% end %>

<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :nome, "Nome") %></th>
      <th><%= sort_link(@q, :atividade, "Atividade") %></th>
      <th><%= sort_link(@q, :endereco_logradouro_cep, [:endereco_logradouro_cep, 'endereco_numero asc'], "Endereço") %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @list.each do |local| %>
      <tr>
        <td><%= link_to local.nome, local_path(local) %></td>
        <td><%= local.atividade %></td>
        <td><%= link_to local.endereco, endereco_path(local.endereco) %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_local_path(local), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      local_path(local),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', 
                      :default => t("helpers.links.confirm", 
                      :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
