<%= form_for @ref, :html => { :class => "form-horizontal estado" } do |f| %>

  <%= render :partial => '/layouts/message_box' %>

  <div class="form-group">
    <%= f.label :data, :class => 'control-label col-lg-2' %>
    <div class="col-lg-6">
      <%= f.date_field :data, :class => 'form-control' %>
    </div>
    <%=f.error_span(:data) %>
  </div>

  <div class="form-group">
    <%= f.label :etapa, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :etapa, :class => 'form-control' %>
    </div>
    <%=f.error_span(:etapa) %>
  </div>

  <div class="form-group">
    <%= f.label :operadora, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :operadora, :class => 'form-control' %>
    </div>
    <%=f.error_span(:operadora) %>
  </div>

  <div class="form-group">
    <%= f.label :portfolio, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_field :portfolio, :class => 'form-control' %>
    </div>
    <%=f.error_span(:portfolio) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= cancel_button(@model_class) %>
  </div>
</div>

<% end %>
