<p id="notice"><%= notice %></p>

<p>
  <strong>Etapa:</strong>
  <%= @atendimento.etapa %>
</p>

<p>
  <strong>Data:</strong>
  <%= @atendimento.data %>
</p>

<p>
  <strong>Pessoa:</strong>
  <%= @atendimento.pessoa_id %>
</p>

<p>
  <strong>Endereco:</strong>
  <%= @atendimento.endereco_id %>
</p>

<p>
  <strong>Operadora:</strong>
  <%= @atendimento.operadora %>
</p>

<p>
  <strong>Portfolio:</strong>
  <%= @atendimento.portfolio %>
</p>

<%= link_to 'Edit', edit_atendimento_path(@atendimento) %> |
<%= link_to 'Back', atendimentos_path %>
