<hr/>
<% if !@field_class.blank? %>
  <h3><%=t '.title', :default => @field_class.model_name.human.pluralize.titleize %></h3>
<% end %>

<div class="table-responsive-sm">
  <table class="table table-striped">
    <thead>
      <tr>
        <% if @ref.blank? %>
            <th><%= sort_link(@q, :email, @model_class.human_attribute_name(:email)) %></th>
            <th><%= sort_link(@q, :encrypted_password, @model_class.human_attribute_name(:password)) %></th>
            <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <% else %>
          <th><%= @model_class.human_attribute_name(:email) %></th>
          <th><%= @model_class.human_attribute_name(:password) %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @list.each do |item| %>    
        <tr>
            <td><%= link_to item.email, show_path(item) %></td>
            <td><%= item.encrypted_password %></td>
            
            <% if @ref.blank? %>
              <td>
                <%= edit_button_sm(item) %>
                <%= delete_button_sm(item) %>
              </td>
            <% end %>
        </tr>
      <% end %>
      <% if @list.blank? %> 
        <tr>
          <td><center>Nenhum(a) <%= @field_class %> encontrado(a).</center></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>