<% if !@field_class.blank? %>
  <h3><%=t '.title', :default => @field_class.model_name.human.pluralize.titleize %></h3>
<% end %>

<div class="table-responsive-sm">
  <table class="table table-striped">
    <thead>
      <tr>
        <% if @ref.blank? %>
          <th><%= sort_link(@q, :numero, @model_class.human_attribute_name(:numero)) %></th>
          <th><%= sort_link(@q, :logradouro, @model_class.human_attribute_name(:logradouro)) %></th>
          <th><%= @model_class.human_attribute_name(:complemento) %></th>
          <th><%= sort_link(@q, :local, @model_class.human_attribute_name(:local)) %></th>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <% else %>
          <th><%= @model_class.human_attribute_name(:numero) %></th>
          <th><%= @model_class.human_attribute_name(:complemento) %></th>
          <th><%= @model_class.human_attribute_name(:local) %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @list.each do |endereco| %>
        <tr>
          <% if @ref.blank? %>
            <td><%= link_to endereco.numero, endereco_path(endereco) %></td>
            <td><%= link_to endereco.logradouro, logradouro_path(endereco.logradouro) %></td>            
            <td><%= endereco.complemento %></td>
            <td><%= endereco.local %></td>
            <td>
              <%= edit_button_sm(endereco) %>
              <%= delete_button_sm(endereco) %>
            </td>
          <% else %>
            <td>
              <%= link_to endereco.numero, endereco_path(endereco), remote: true %>
              <% @ref = endereco %>
              <% @divName = "endereco_details#{@ref.id}" %>
              <div id="<%= @divName %>" style="display:none">
                  <%= render :partial => 'enderecos/show_fields' %>
              </div>
              <td><%= endereco.complemento %></td>
              <td><%= endereco.local %></td>
            </td>
          <% end %>
        </tr>
        <% end %>
         <% if @list.blank? %> 
            <tr>
              <td><center>Nenhum(a) <%= @field_class %> encontrado(s).</center></td>
            </tr>
        <% end %>
    </tbody>
  </table>
</div>