<%- model_class = Endereco -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= search_form_for(@q, :class => "form-horizontal endereco") do |f| %>
  <div class="form-group">
    <%= f.label(:logradouro_bairro_nome_cont, "Bairro", :class => 'control-label col-lg-2') %>
    <div class="col-lg-6">  
      <%= f.search_field(:logradouro_bairro_nome_cont, placeholder: 'Bairro contém...', :class => 'form-control') %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(:logradouro_cep_or_logradouro_nome_cont, "Logradouro", :class => 'control-label col-lg-2') %>
    <div class="col-lg-6">  
      <%= f.search_field(:logradouro_cep_or_logradouro_nome_cont, placeholder: 'CEP ou Logradouro contém...', :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:numero_eq, "Número", :class => 'control-label col-lg-2') %>
      <div class="col-lg-4">  
        <%= f.search_field(:numero_eq, placeholder: 'Número é...', :class => 'form-control') %>  
      </div>  
  </div>
  
  <div class="form-group">
    <%= f.label(:complemento_cont, "Complemento", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:complemento_cont, placeholder: 'Complemento contém...', :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:local_nome_cont, "Local", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:local_nome_cont, placeholder: 'Local contém...', :class => 'form-control') %>   
      
      <br/>

      <%= f.submit(:class => 'btn btn-default') %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                new_endereco_path,
                :class => 'btn btn-primary' %>
    </div>  
  </div>
<% end %>

<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= sort_link(@q, :numero, @model_class.human_attribute_name(:numero)) %></th>
      <th><%= sort_link(@q, :logradouro_nome, @model_class.human_attribute_name(:logradouro)) %></th>
      <th><%= model_class.human_attribute_name(:complemento) %></th>
      <th><%= sort_link(@q, :local_nome, @model_class.human_attribute_name(:local)) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @list.each do |endereco| %>
      <tr>
        <td><%= link_to endereco.numero, endereco_path(endereco) %></td>
        <td><%= link_to endereco.logradouro, logradouro_path(endereco.logradouro) %></td>
        <td><%= endereco.complemento %></td>

        <% if endereco.local.blank? %>
          <td><%= endereco.nome_local %></td>
         <% else %> 
          <td><%= link_to(endereco.local.nome, local_path(endereco.local))%></td>
        <% end %>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_endereco_path(endereco), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      endereco_path(endereco),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', 
                      :default => t("helpers.links.confirm", 
                      :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
