<% if !@field_class.blank? %>
  <h3><%=t '.title', :default => @field_class.model_name.human.pluralize.titleize %></h3>
<% end %>

<div class="table-responsive-sm">
    <table class="table table-striped">
    <thead>
        <tr>
            <% if @ref.blank? %>
                <th><%= sort_link(@q, :endereco, @model_class.human_attribute_name(:endereco)) %></th>
                <th><%= sort_link(@q, :vivo, @model_class.human_attribute_name(:vivo)) %></th>
                <th><%= sort_link(@q, :net, @model_class.human_attribute_name(:net)) %></th>
                <th><%= sort_link(@q, :oi, @model_class.human_attribute_name(:oi)) %></th>
               
                <% if policy(@list).edit? && policy(@list).destroy? %>
                    <th><%=t '.actions', :default => t("helpers.actions") %></th>
                <% end %>
            <% else %>
                <th><%= @model_class.human_attribute_name(:endereco) %></th>
                <th><%= @model_class.human_attribute_name(:vivo) %></th>
                <th><%= @model_class.human_attribute_name(:net) %></th>
                <th><%= @model_class.human_attribute_name(:oi) %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% @list.each do |cob| %>
            <tr>
                <td>
                    <%= link_to cob.endereco, show_path(cob.endereco), remote: true %>
                    <!--% @ref = cob.endereco %-->
                    <!--% @divName = "endereco_details#{@ref.id}" %-->
                    <!--div id="<%= @divName %>" style="display:none"-->
                        <!--%= render :partial => "enderecos/show_fields" %-->
                    <!--/div-->
                </td>
                <td><%= parse(cob.vivo) %></td>
                <td><%= parse(cob.net) %></td>
                <td><%= parse(cob.oi) %></td>
                
                <td>
                    <% if policy(@list).edit?%>    
                        <%= edit_button_sm(cob) %>
                    <% end %>
                    <% if policy(@list).destroy? %>
                        <%= delete_button_sm(cob) %>
                    <% end %>
                </td>
            </tr>
        <% end %>
        <% if @list.blank? %> 
            <tr>
                <td><center>Nenhum(a) <%= @field_class %> encontrado(a).</center></td>
            </tr>
      <% end %>
    </tbody>
    </table>
</div>