<%- model_class = Cobertura -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render :partial => 'form_search' %>

<hr/>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:endereco) %></th>
      <th><%= model_class.human_attribute_name(:vivo) %></th>
      <th><%= model_class.human_attribute_name(:net) %></th>
      <th><%= model_class.human_attribute_name(:oi) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @list.each do |cobertura| %>
      <tr>
        <td><%= link_to cobertura, cobertura_path(cobertura) %></td>
        <td><%= cobertura.vivo %></td>
        <td><%= cobertura.net %></td>
        <td><%= cobertura.oi %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_cobertura_path(cobertura), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      cobertura_path(cobertura),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', 
                      :default => t("helpers.links.confirm", 
                      :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>