<div class="page-header">
  <h1><%=t '.title', :default => @model_class.model_name.human.pluralize.titleize %></h1>
</div>

<%= render :partial => 'form_search' %>

<hr/>
<h6><b><%= @list_size %> <%= @model_class.model_name.human %>(s)</b> encontrado(s) para a pesquisa. </h6>
<hr/>

<%= render :partial => 'list' %>

<div class="ransack-pagination">
  <%= will_paginate @list %>
</div>