<%= search_form_for(@q, :class => "form-horizontal bairro") do |f| %>
  <div class="form-group">
    <%= f.label(:cidade_nome_cont, "Cidade", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:cidade_nome_cont, placeholder: 'Cidade contém...', :class => 'form-control') %>
    </div>
  </div>
  
  <div class="form-group">
    <%= f.label(:nome_cont, "Nome", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:nome_cont, placeholder: 'Nome contém...', :class => 'form-control') %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label(:zona_cont, "Zona", :class => 'control-label col-lg-2') %>
    <div class="col-lg-4">  
      <%= f.search_field(:zona_cont, placeholder: 'Zona contém...', :class => 'form-control') %>  
      
      <br/>

      <%= f.submit(:class => 'btn btn-default') %>
      <%= new_button(@model_class) %>
    </div>  
  </div>
<% end %>

<hr/>
