<hr/><h3><%=t '.title', :default => 'Bairros' %></h3>

<div class="table-responsive-sm">
  <table class="table table-striped">
    <thead>
      <tr>
        <th><%= "Nome" %></th>
        <th><%= "Zona" %></th>
        <th><%= "Cidade" %></th>
       
        <% if @ref.blank? %>
          <th><%=t '.actions', :default => t("helpers.actions") %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% if !@list.blank? %> 
        <% @list.each do |item| %>          
          <tr>  
            <td>
              <%= link_to item.nome, show_path(item), remote: true %>  
              <div id="bairro_details" style="display:none">
                  <% if item.blank? %>
                    <%= render :partial => 'bairros/show_fields' %>
                  <% end %>
              </div>
            </td>
            
            <td><%= item.zona %></td>
            <td><%= link_to item.cidade.nome, show_path(item.cidade) %></td>
            
            <% if @ref.blank? %>
              <td>
                <%= edit_button_sm(item) %>
                <%= delete_button_sm(item) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>
            <dl class="dl-horizontal">
              <br/><dt><dd>Nenhum Bairro encontrado.</dd></dt>
            </dl>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>